/* App styles */
.app-container {
  display: flex;
  flex-direction: row;
}

#main {
  flex-grow: 1;
  margin-left: 250px;
  padding: 16px;
  transition: margin-left 0.3s;
}

#main.sidebar-open {
  margin-left: 0;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #main {
    margin-left: 0;
  }

  .menu-icon {
    display: block;
  }
}




/* Sudoku board styles */
.sudoku-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sudoku-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sudoku-cell input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  font-size: 20px;
}

.sudoku-cell input.multi-numbers {
  font-size: 14px;
}

.sudoku-cell.incorrect input {
  background-color: red;
}

.top-border {
  border-top: 3px solid black;
}

.left-border {
  border-left: 3px solid black;
}

.bottom-border {
  border-bottom: 3px solid black;
}

.right-border {
  border-right: 3px solid black;
}

@media screen and (max-width: 768px) {
  .sudoku-cell {
    width: 30px;
    height: 30px;
  }

  .sudoku-cell input {
    font-size: 18px;
  }

  .sudoku-cell input.multi-numbers {
    font-size: 12px;
  }
}







/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Hidden by default on mobile */
  background-color: #111;
  padding-top: 20px;
  overflow-x: hidden;
  transition: left 0.3s;
  z-index: 1;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar.open {
  left: 0;
}

@media screen and (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}
